@import "../../Css/@keyframes.scss";
@import "../../Css/@mixins.scss";


@mixin TitleAnimation($typingDuration : 0s, $typingDelay : 0s, $numberLetter : 0, $fadeOutDelay : 0s)
{
    animation : Typing $typingDuration $typingDelay steps($numberLetter) forwards;

    & > .Cursor
    {
        @include Border_Segment($right : var(--light-green) solid 3px                            );
        @include Size          ($width : 102%                        , $height : 100%            );
        @include Position      ($type  : absolute                    , $top    : 0px, $left : 0px);

        animation : Typing $typingDuration $typingDelay steps($numberLetter) forwards, Blink 1s infinite, FadeOut 0s $fadeOutDelay forwards;
    };
};

.Container
{
    @include Position    ();
    @include Padding_Axis($vertical : 10%  , $horizontal : 8%   );
    @include Size        ($width    : 100vw, $height     : 110vh);

    background : linear-gradient(var(--blue-color), var(--dark-blue-color) 30%);
    clip-path  : polygon(0% 0%, 100% 0%, 100% 93%, 0% 100%);

    & > .Main
    {
        @include Flex  ();
        @include Size  ($height : 90% );

        & > .Menu
        {
            @include Padding_Axis($horizontal : 50px, $vertical : 50px);

            align-self: flex-end;

            & > .MenuItem
            {
                @include Padding_Vertical($vertical : 10px                                                        );
                @include Font            ($fontSize : 2.5rem, $fontWeight : 300, $color : rgba(97, 155, 138, .5));
                
                white-space : nowrap;
                cursor      : pointer;

                &:hover { @include Font($fontSize : 2.5rem, $fontWeight : 300, $color : var(--light-green)); };
            };
        };

        & > .Separator { color : var(--light-green); };

        & > .Text
        {
            @include Padding_Axis($horizontal : 80px);

            & > .PresentationTitle
            {
                @include Size($width    : 80%                                                   );
                @include Font($fontSize : 5.5rem, $fontWeight : 200, $color : var(--light-green));
        
                & > .TitleContainer
                {
                    @include Position();
        
                    display : inline-block;
        
                    & > .Title
                    {
                        @include Size    ($width : 100%  );
                        @include Overflow($x     : hidden);
        
                        opacity     : 0;
                        white-space : nowrap;
            
                        &.Title1 { @include TitleAnimation($typingDuration : .5s, $numberLetter : 9 , $fadeOutDelay : .8s , $typingDelay : .4s  ); };
                        &.Title2 { @include TitleAnimation($typingDuration : .7s, $numberLetter : 17, $fadeOutDelay : 1.9s, $typingDelay : 1.1s ); };
                    };
                };
            };
        
            & > .Name
            {
                @include Font($fontSize : 4rem, $fontWeight : 300, $color : var(--dark-green));
        
                opacity   : 0;
                animation : FadeIn 1.3s 2.1s ease-out forwards;
            };
        };
    };

    & > .MultiLanguage
    {
        @include Flex    ($alignItems : center  , $gap : 10px               );
        @include Position($type       : absolute, $top : 30px, $right : 30px);

        color : var(--white);

        & > .MultiLanguageIcon
        {
            @include Size_All(30px);

            cursor : pointer;
        };
    };
};
