@keyframes Typing
{
    from
    {
        opacity : 1;
        width   : 0;
    };
    to { opacity : 1; };
};

@keyframes FadeIn
{
    0%   { opacity : 0; };
    100% { opacity : 1; };
};

@keyframes FadeOut
{
    100% { opacity : 0; };
};

.Container
{
    position   : relative;
    width      : 100vw;
    height     : 110vh;
    background : linear-gradient(var(--blue-color), var(--dark-blue-color) 30%);
    clip-path  : polygon(0% 0%, 100% 0%, 100% 93%, 0% 100%);
    padding    : 10% 8%;
    box-sizing : border-box;
    transition : height .5s ease-out;

    & > .Image
    {
        position  : absolute;
        right     : .5vmax;
        height    : 90%;
        top       : 0px;
        opacity   : 0;
        animation : FadeIn 1s ease-in 1s forwards;

        & > img
        {
            width  : 100%;
            height : 100%; 
        };
    };

    & > .PresentationTitle
    {
        width       : 80%;
        color       : var(--light-green);
        font-size   : 7.5rem;
        font-weight : 200;
        transition  : font-size .5s ease-out;

        & > .TitleContainer
        {
            display : inline-block;

            & > .Title
            {
                width       : 100%;
                white-space : nowrap;
                white-space : nowrap;
                overflow-x  : hidden;
                opacity     : 0;
    
                &.Title1 { animation : Typing 1s      steps(10) forwards; };
                &.Title2 { animation : Typing 1.5s 1s steps(17) forwards; };
            };
        };
    };

    & > .Name
    {
        font-size   : 5rem;
        font-weight : 300;
        color       : var(--dark-green);
        opacity     : 0;
        animation   : FadeIn .5s linear 3s forwards;
        transition  : font-size .5s ease-out;
    };

    @media screen and (max-width: 1800px)
    {
        & > .PresentationTitle { font-size : 5rem;   };
        & > .Name              { font-size : 4.5rem; };
    };
    @media screen and (max-width: 1500px)
    {
        & > .PresentationTitle
        {
            width     : 60%;
            font-size : 4.5rem;
        };

        & > .Name { font-size : 3rem; };
    };
    @media screen and (max-width: 1400px)
    {
        height : 480px;

        & > .Image { animation: FadeOut 1s forwards; };
    };
    @media screen and (max-width: 900px)
    {
        height : 380px;

        & > .PresentationTitle { font-size : 3.5rem; };
        & > .Name              { font-size : 3rem;   };
    };
    @media screen and (max-width: 750px)
    {
        height : 350px;

        & > .PresentationTitle { font-size : 3rem;   };
        & > .Name              { font-size : 2.5rem; };
    };
    @media screen and (max-width: 650px)
    {
        height : 280px;

        & > .PresentationTitle { font-size : 2.5rem; };
        & > .Name              { font-size : 2rem;   };
    };
    @media screen and (max-width: 500px)
    {
        height : 230px;

        & > .PresentationTitle { font-size : 2rem;   };
        & > .Name              { font-size : 1.5rem; };
    };
};
