@keyframes SlideInFromBottom
{
    from { transform : translateY(100%); };
    to   { transform : translateY(0%);   };
};

.Container
{
    display         : flex;
    justify-content : center;
    padding         : 0 10%; 
    gap             : 30px;
    overflow-y      : hidden;

    & > .Proposition
    {
        width          : calc(calc(100% / 3) - 20px);
        display        : flex;
        align-items    : center;
        flex-direction : column;
        gap            : 20px;
        transform      : translateY(100%);

        & > .Icon
        {
            width      : 70px;
            height     : 70px;
            transition : width .5s ease-in-out, height .5s ease-in-out;
        };

        & > .Title
        {
            font-size   : 1.1rem;
            font-weight : 600;
            color       : var(--orange-color);
        };

        & > .Text
        {
            font-size   : 17px;
            font-weight : 300;
            text-align  : center; 
        };
    };

    &.Animate
    {
        & > div:nth-of-type(1) { animation : SlideInFromBottom .8s ease-in .4s forwards; };
        & > div:nth-of-type(2) { animation : SlideInFromBottom .8s ease-in .6s forwards; };
        & > div:nth-of-type(3) { animation : SlideInFromBottom .8s ease-in .8s forwards; };
    };

    @media screen and (max-width : 1200px)
    {
        & > .Proposition > .Icon
        {
            width  : 50px;
            height : 50px;
        };
    }
    @media screen and (max-width : 900px)
    {
        flex-direction : column;
        align-items    : center;

        & > .Proposition { width : 80%; };
    };
};
