@import "../../../../Css/@keyframes.scss";
@import "../../../../Css/@mixins.scss";


.Container
{
    @include RemoveScrollBar();
    @include Size_All       (100%                            );
    @include Padding_All    (5px                             );
    @include Flex           ($direction : column, $gap : 10px);

    overflow : scroll;

    & > .Separator
    {
        @include Size($width : 100%, $height : 0px);
        
        color : var(--dark-grey);
    };

    & > .Section
    {
        @include Size        ($width      : 100%);
        @include Padding_Axis($horizontal : 10px);

        & > .Title
        {
            @include Margin($bottom       : 25px                               );
            @include Flex($justifyContent : space-between, $alignItems : center);

            & > div:nth-of-type(1) { @include Font($fontSize : 1rem, $fontWeight : 200, $color : var(--light-green)); };
            & > div:nth-of-type(2)
            {
                @include Size_All(30px);

                color  : var(--light-green);
                cursor : pointer;

                &.Folded { transform: rotate(-180deg); };
            };
        };

        & > .Values
        {
            @include Flex($direction : column, $gap : 20px);

            &.Folded
            {
                @include Size($height : 0px);
                
                overflow : hidden;
            };

            & > .Value
            {
                @include Flex($alignItems : center);

                & > div:nth-of-type(1)
                {
                    @include Font($fontSize : .5rem, $fontWeight : 300, $textAlign : center, $color : var(--white));

                    flex : .6;
                };
                & > div:nth-of-type(2)
                {
                    @include Padding_Axis($vertical : 6px                                                                );
                    @include Font        ($fontSize : 1rem, $fontWeight : 300, $textAlign : center, $color : var(--white));

                    flex       : 1;
                    background : var(--dark-grey);
                };
            };
        };

        & > .OBJModelsList
        {
            @include Padding_All(5px                            );
            @include Size       ($height    : fit-content       );
            @include Flex       ($direction : column, $gap : 5px);
            
            &.Folded
            {
                @include Padding_All(0px          );
                @include Size       ($height : 0px);

                overflow : hidden;
            };

            & > .OBJModelOption
            {
                @include Size        ($width    : 100%                                          );
                @include Border      ($radius   : 3px                                           );
                @include Padding_Axis($vertical : 12px, $horizontal : 20px                      );
                @include Font        ($fontSize : 1rem, $fontWeight : 300, $color : var(--white));

                background : var(--dark-grey);
                cursor     : pointer;

                &:hover    { background : var(--dark-grey2);  };
                &.Selected { background : var(--light-green); };
            };
        };
    };
};
