.Container
{
    display               : grid;
    gap                   : 15px;
    grid-template-columns : repeat(2, 1fr);

    & > .Project
    {
        width           : auto;
        aspect-ratio    : 1.8/1;

        & > div
        {
            position  : relative;
            width : 100%;
            height : 100%;
        };

        &:nth-child(1n)
        {
            & > div
            {
                background: rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                opacity: 0;
                left : 0%
            }
        };
        &:nth-child(2n)
        {
            & > div
            {
                background: rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                opacity: 0;
                left : 0%
            }
        };

        &.Animate
        {
            &:nth-child(1n) { & > div { animation : GoInLeft  1s linear forwards; }; };
            &:nth-child(2n) { & > div { animation : GoInRight 1s linear forwards; }; };
        }

        &.Visible
        {
            & > div { opacity : 1; };
        }

        &.Clicked
        {
            grid-column-start : 1;
            grid-column-end   : 3;
            grid-row-start    : calc(var(--clickedCellRow) + 1);
            grid-row-end      : calc(var(--clickedCellRow) + 3);
            border-radius: 10px;
        };
    };
};

@keyframes GoInLeft
{
    from { left : -140% };
    to   { left : 0px;  };    
};

@keyframes GoInRight
{
    from { left : 140% };
    to   { left : 0px; };    
};
