@import "../../Css/@keyframes.scss";
@import "../../Css/@mixins.scss";


$fontSizeDuration        : .5s;

$textContentWidth        : .5s;

$buttonPaddingDuration   : .5s;
$buttonTopDuration       : .4s;
$buttonIconWidthDuration : .5s;

.Container
{
    @include Position    ();
    @include Padding_Axis($horizontal : 5%  );
    @include Flex        ($gap        : 20px);

    & > .Title
    {
        @include Font($fontSize : var(--font-size-900), $fontWeight : 500, $direction : vertical-rl, $color : var(--light-green));

        opacity    : .2;
        transform  : rotate(180deg);
        transition : font-size $fontSizeDuration ease-in-out;
    };

    & > .Content
    {
        @include Size($width     : 90ch                );
        @include Flex($direction : column, $gap : 100px);

        transition : width $textContentWidth ease-in-out;

        & > .Text
        {
            @include Flex($direction : column, $gap        : 2.6vw);
            @include Font($fontSize  : 1.5rem, $fontWeight : 200  , $color : var(--dark-green));

            transition : width $textContentWidth ease-in-out, font-size $fontSizeDuration ease-in-out;
        };
    
        & > .Contact
        {
            @include Flex($justifyContent : end   , $alignItems : center, $gap : 20px);
            @include Font($fontSize       : 1.1rem                                   );
            @include Size($width          : 100%                                     );
    
            & > .Button
            {
                @include Size        ($width      : fit-content                           );
                @include Flex        ($alignItems : center             , $gap        : 8px);
                @include Padding_Axis($vertical   : 5px                , $horizontal : 8px);
                @include Border      ($color      : var(--light-green) , $radius     : 1px);

                cursor     : pointer;
                transition : font-size $fontSizeDuration ease-in-out, padding $buttonPaddingDuration ease-in-out, transform $buttonTopDuration ease-in-out;
    
                & > .ContactIcon
                {
                    @include Size_All(25px);

                    transition : width $buttonIconWidthDuration ease-in-out;
    
                    & > svg { color : var(--light-green); };
                };
    
                & > .ContactText { color : var(--light-green); };
    
                &:hover
                {
                    transform  : translateY(-4px);
                    transition : transform $buttonTopDuration ease-in-out;
                };
            };
        };
    };

    & > .Modal
    {
        @include Flex    ($justifyContent : center, $alignItems : center                     );
        @include Size    ($width          : 100vw , $height     : 100vh                      );
        @include Position($type           : fixed , $top        : 0, $left : 0, $zIndex : 100);

        background : rgba(0, 0, 0, .3);
    };





    @media screen and (max-width: 1650px)
    {
        & .Content > .Contact { font-size : 1rem; }
    };
    @media screen and (max-width: 1500px)
    {
        & > .Content
        {
            width      : 70%;
            transition : width .5s ease-in-out;

            & > .Contact { font-size : .9rem; };
        };
    };
    @media screen and (max-width: 1200px)
    {
        & > .Title { font-size : 6rem; };

        & > .Content
        {
            width : 80%;

            & > .Text { font-size : 1.3rem; };

            & > .Contact
            {
                margin-top : 60px;

                & > .Button > .ContactIcon
                {
                    width  : 22px;
                    height : 22px;
                };
            };
        };
    };
    @media screen and (max-width: 1000px)
    {
        & > .Title { font-size : 5rem; };

        & > .Content
        {
            width : 100%;
            
            & > .Text { font-size : 1.1rem; };

            & > .Contact
            {
                font-size : .85rem;

                & > .Button > .ContactIcon
                {
                    width  : 20px;
                    height : 20px;
                };
            };
        };
    };
    @media screen and (max-width: 800px)
    {
        & > .Title { font-size : 4.5rem; };

        & > .Content
        {
            & > .Text { font-size : 1rem; };

            & > .Contact
            {
                font-size  : .8rem;
                margin-top : 45px;
            };
        };
    };
    @media screen and (max-width: 700px)
    {
        flex-direction : column;
        gap            : 3px;

        & > .Title
        {
            writing-mode : unset;
            transform    : unset;
        };
    };
    @media screen and (max-width: 550px)
    {
        & > .Title { font-size : 4.5rem; };

        & > .Content > .Contact { margin-top : 40px; };
    };
    @media screen and (max-width: 400px)
    {
        & > .Title           { font-size : 4.1rem; };
        & > .Content > .Text { gap       : 3.2vw;  };
    };
    @media screen and (max-width: 350px)
    {
        & > .Title           { font-size : 3.6rem; };
        & > .Content > .Text { gap       : 3.6vw;  };
    };
};
