@import "../../Css/@keyframes.scss";
@import "../../Css/@mixins.scss";



@keyframes SplashAnimation
{
    0%
    {
        mask-position         : 0% 0%;
        -webkit-mask-position : 0% 0%;
    }
    100%
    {
        mask-position        : 100% 0%;
        -webkit-mask-position: 100% 0%;
    }    
}

.Container
{
    @include Position    ();
    @include Size        ($height    : 100%               );
    @include Padding_Axis($horizontal: 5%                 );
    @include Flex        ($alignItems: center, $gap : 50px);

    & > .TextContainer
    {
        @include Flex($direction : column, $gap : 30px);

        & > .Title
        {
            @include Font($fontSize : 6.5rem, $fontWeight : 500, $color : var(--light-green));
    
            opacity : .5;
        };
    
        & > .Content
        {
            @include Size        ($width      : 100ch               );
            @include Padding_Axis($horizontal : 2.5%                );
            @include Flex        ($direction  : column, $gap : 100px);

            & > .Text
            {
                @include Flex($direction : column, $gap        : 2.6vw);
                @include Font($fontSize  : 1.5rem, $fontWeight : 200  , $color : var(--blue-color));
            };
        };
    };

    & > .ImageContainer
    {
        position : relative;
        flex-grow: 1;
        display : flex;
        justify-content: center;
        align-items: center;

        & > .Layer {  position : absolute; };

        & > .First, & > .Third
        {
            -webkit-mask-position : 0% 0%;
            -webkit-mask-image    : url(../../assets/Mask.png);
            mask-size             : cover;
            -webkit-mask-size     : cover;
        };
    };


    &.Animate > .ImageContainer
    {
        & > .First, & > .Third { animation: SplashAnimation 1.1s steps(32) forwards; };
    }
};
