.Container
{
    position       : relative;
    padding        : 0% 5%;
    display        : flex;
    flex-direction : row;
    gap            : 20px;

    & > .Title
    {
        color        : var(--light-green);
        opacity      : .2;
        writing-mode : vertical-rl;
        transform    : rotate(180deg);
        font-size    : 8rem;
        font-weight  : 500;
        transition   : font-size .5s ease-in-out;
    };

    & > .Content
    {
        width      : 60%;
        transition : width .5s ease-in-out;

        & > .Text
        {
            display        : flex;
            flex-direction : column;
            gap            : 2.6vw;
            color          : var(--dark-green);
            font-weight    : 200;
            font-size      : 1.5rem;
            margin         : 5% 0%;
            transition     : width .5s ease-in-out, font-size .5s ease-in-out;
        };
    
        & > .Contact
        {
            display         : flex;
            width           : 100%;
            justify-content : end;
            align-items     : center;
            font-size       : 1.1rem;
            margin-top      : 100px;
            gap             : 20px;
            font-weight     : 400;
            transition      : width .5s ease-in-out, margin-top .5S ease-in-out, padding .5s ease-in-out;
    
            & > .Button
            {
                position      : relative;
                display       : flex;
                width         : fit-content;
                align-items   : center;
                gap           : 8px;
                cursor        : pointer;
                border        : var(--light-green) solid 1px;
                border-radius : 1px;
                top           : 0;
                padding       : 5px 8px;
                transition    : font-size .5s ease-in-out, padding .5s ease-in-out, top .4s ease-in-out;
    
                & > .ContactIcon
                {
                    height     : 25px;
                    width      : 25px;
                    transition : width .5s ease-in-out;
    
                    & > svg { color : var(--light-green); };
                };
    
                & > .ContactText { color : var(--light-green); };
    
                &:hover
                {
                    top        : -6px;
                    transition : top .4s ease-in-out;
                };
            };
        };
    };

    & > .Modal
    {
        position        : fixed;
        width           : 100vw;
        height          : 100vh;
        top             : 0;
        left            : 0;
        z-index         : 100;
        background      : rgba(0, 0, 0, .3);
        display         : flex;
        justify-content : center;
        align-items     : center;
    };

    @media screen and (max-width: 1650px)
    {
        & .Content > .Contact { font-size : 1rem; }
    };
    @media screen and (max-width: 1500px)
    {
        & > .Content
        {
            width      : 70%;
            transition : width .5s ease-in-out;

            & > .Contact { font-size : .9rem; };
        };
    };
    @media screen and (max-width: 1200px)
    {
        & > .Title { font-size : 6rem; };

        & > .Content
        {
            width : 80%;

            & > .Text { font-size : 1.3rem; };

            & > .Contact
            {
                margin-top : 60px;

                & > .Button > .ContactIcon
                {
                    width  : 22px;
                    height : 22px;
                };
            };
        };
    };
    @media screen and (max-width: 1000px)
    {
        & > .Title { font-size : 5rem; };

        & > .Content
        {
            width : 100%;
            
            & > .Text { font-size : 1.1rem; };

            & > .Contact
            {
                font-size : .85rem;

                & > .Button > .ContactIcon
                {
                    width  : 20px;
                    height : 20px;
                };
            };
        };
    };
    @media screen and (max-width: 800px)
    {
        & > .Title { font-size : 4.5rem; };

        & > .Content
        {
            & > .Text { font-size : 1rem; };

            & > .Contact
            {
                font-size  : .8rem;
                margin-top : 45px;
            };
        };
    };
    @media screen and (max-width: 700px)
    {
        flex-direction : column;
        gap            : 3px;

        & > .Title
        {
            writing-mode : unset;
            transform    : unset;
        };
    };
    @media screen and (max-width: 550px)
    {
        & > .Title { font-size : 4.5rem; };

        & > .Content > .Contact { margin-top : 40px; };
    };
};
