@import "../../Css/@keyframes.scss";
@import "../../Css/@mixins.scss";


.Container
{
    @include Flex       ();
    @include Size       ($width   : 100%                                             );
    @include Overflow   ($x       : scroll, $y        : hidden                       );
    @include Scroll_Snap($visible : false , $snapType : x mandatory, $snapAlign : end);

    background : var(--blue-color);

    & > .CardContainer
    {
        transform  : scale(1);
        transition : transform .5s, width 1s;

        & > .Card
        {
            @include Padding_All(40px                                                  );
            @include Flex       ($direction : column, $alignItems : center, $gap : 20px);

            & > .CardIcon
            {
                @include Size_All(90px);

                transition : width .5s ease-in-out, height .5s ease-in-out;
            };

            & > .CardTitle { @include Font($fontSize : 1.1rem, $color : var(--white)); };
        };

        &:hover
        {
            transform  : scale(1.06);
            transition : transform .5s;
        };
    };




    
    @media screen and (max-width: 1400px)
    {
        & > .CardContainer > .Card 
        {
            padding : 30px 30px;

            &> .CardIcon
            {
                width  : 80px;
                height : 80px;
            };
        };
    };
    @media screen and (max-width: 1000px)
    {
        & > .CardContainer > .Card
        {
            padding : 27px 27px;

            &  > .CardIcon
            {
                width  : 70px;
                height : 70px;
            };
        };
    };
    @media screen and (max-width: 700px)
    {
        & > .CardContainer > .Card
        {
            padding : 25px 25px;

            & > .CardIcon
            {
                width  : 60px;
                height : 60px;
            };
        };
    };
};
