@import "../../Css/@keyframes.scss";
@import "../../Css/@mixins.scss";


.Container
{
    @include Overflow          ($y              : hidden                          );
    @include Flex              ($justifyContent : center, $gap    : 30px          );
    @include Padding_Horizontal($horizontal     : 10%   , $bottom : 100px, $top : 100px);

    & > .SkillCategoryContainer
    {
        @include Size($width     : calc(calc(100% / 3) - 20px)                                               );
        @include Flex($direction : column, $alignItems : center, $justifyContent : space-between, $gap : 50px);

        transform : translateY(150%);

        & > .SkillCategory
        {
            @include Flex($direction : column, $alignItems : center, $gap : 20px);

            & > .Icon  { @include Size_All(70px                                                                   ); };
            & > .Title { @include Font    ($fontSize : 1.5rem, $fontWeight : 600, $color     : var(--orange-color)); };
            & > .Text  { @include Font    ($fontSize : 1.1rem, $fontWeight : 200, $textAlign : center             ); };
        };

        & > .Button
        {
            @include Size        ($width    : fit-content            );
            @include Margin_Axis ($vertical : 15px                   );
            @include Border      ($width    : 1px, $radius     : 5px );
            @include Padding_Axis($vertical : 5px, $horizontal : 10px);
            
            transform  : translateY(0px);
            cursor     : pointer;
            transition : all 1s;
 
            &.Selected
            {
                @include Font  ($color : var(--orange-color));
                @include Border($color : var(--orange-color), $width : 1px, $radius : 5px );
            };

            &:hover
            {
                transform  : translateY(-6px);
                transition : all 1s;
            };
        };
    };

    &.Animate
    {
        & > div:nth-of-type(1) { animation : SlideInFromBottom .8s 0s   ease-out forwards; };
        & > div:nth-of-type(2) { animation : SlideInFromBottom .8s 1.2s ease-out forwards; };
        & > div:nth-of-type(3) { animation : SlideInFromBottom .8s 2.4s ease-out forwards; };
    };
};

.Skills
{
    @include Flex              ($justifyContent : center, $gap    : 35px);
    @include Padding_Horizontal($horizontal     : 0px   , $bottom : 150px);

    & > .Skill
    {
        @include Position();
        @include Flex    ($direction : column);

        & > .IconCircle
        {
            @include Padding_All(20px                                                           );
            @include Flex       ($justifyContent: center      , $alignItems : center            );
            @include Border     ($color         : var(--color), $width      : 3px, $radius : 50%);

            transition : transform .8s;

            & > .Icon { @include Size_All(80px); };
        };
        & > .IconShadow
        {
            @include Padding_All(20px                                                           );
            @include Position   ($type          : absolute    , $bottom     : -110px            );
            @include Flex       ($justifyContent: center      , $alignItems : center            );
            @include Border     ($color         : var(--color), $width      : 3px, $radius : 50%);

            transform      : rotate(.5turn) scale(.8, 0.15);
            opacity        : .4;
            transition     : transform .8s;
            pointer-events : none;

            & > .Icon { @include Size_All(80px); };
        };

        &:hover
        {
            & > .IconCircle { transform : scale(1.2) translateY(-15px); };
            & > .IconShadow
            {
                transform : rotate(.5turn) scale(.7, 0.14);
                opacity   : .38;
            };
        };
        
        &:has(+ .Skill:hover),
        &:hover + .Skill
        {
            & > .IconCircle { transform: scale(1.1) translateY(-5px); };
            & > .IconShadow
            {
                transform : rotate(.5turn) scale(.78, 0.145);
                opacity   : .36;
            };
        }
    };
};
