@import "../../..//Css/@keyframes.scss";
@import "../../..//Css/@mixins.scss";


$headerWidthDuration    : .5s;

$fontSizeDuration       : .5s;

$textAreaHeightDuration : .5s;

.Container
{
    @include Padding_All(50px                                      );
    @include Border     ($radius    : 5px                          );
    @include Flex       ($direction : column, $gap    : 30px       );
    @include Size       ($width     : 70%   , $height : fit-content);

    background : var(--white);

    & > .Header
    {
        @include Size($width     : 50%               );
        @include Flex($direction : column, $gap : 5px);

        transition : width $headerWidthDuration ease-in-out;

        & > .Input
        {
            @include Position();

            & > .Icon
            {
                @include Size_All(32px                                          );
                @include Position($type  : absolute, $top : 23px, $right : -42px);
            };
        };
    };

    & > .Text
    {
        @include Padding_All(10px                                                      );
        @include Size       ($width : 100%                                             );
        @include Font       ($color : rgb(35, 61, 77), $fontSize : 1rem              );
        @include Border     ($color : rgb(35, 61, 77), $width    : 2px, $radius : 5px);

        resize     : none;
        outline    : none;
        transition : height $textAreaHeightDuration ease-in-out, font-size $fontSizeDuration ease-in-out;
    };

    & > .Footer
    {   
        @include Size($width          : 100%);
        @include Flex($justifyContent : end );
    };







    
    @media screen and (max-width : 900px)
    {
        & > .Header
        {
            width      : 60%;
            transition : height .5s ease-in-out;
        };

        & > .Text
        {
            height     : 50vh;
            transition : height .5s ease-in-out;
        };
    };
    @media screen and (max-width : 800px)
    {
        & > .Header
        {
            width      : 65%;
            transition : height .5s ease-in-out;
        };

        & > .Text
        {
            height     : 40vh;
            font-size  : .9rem;
            transition : height .5s ease-in-out, font-size .5s ease-in-out;
        };
    };
    @media screen and (max-width : 700px)
    {
        & > .Header
        {
            width      : 70%;
            transition : height .5s ease-in-out;
        };

        & > .Text
        {
            height     : 35vh;
            transition : height .5s ease-in-out;
        };
    };
    @media screen and (max-width : 600px)
    {
        & > .Header
        {
            width      : 75%;
            transition : height .5s ease-in-out;
        };

        & > .Text
        {
            height     : 30vh;
            font-size  : .8rem;
            transition : height .5s ease-in-out, font-size .5s ease-in-out;
        };
    };
    @media screen and (max-width : 500px)
    {
        & > .Header
        {
            width      : 80%;
            transition : height .5s ease-in-out;
        };

        & > .Text
        {
            height     : 25vh;
            font-size  : .7rem;
            transition : height .5s ease-in-out, font-size .5s ease-in-out;
        };
    };
};

.ButtonContent
{
    @include Position();
    @include Size_All(100%);

    & > .ButtonIcon
    {
        @include Size_All(20px);
        @include Position($bottom : 0px, $right : -40px);
    };
};