.Container
{
    width         : 100%;
    height        : 100%;
    display       : flex;
    gap           : 4px;
    background    : #2e2e2e;
    border-radius : 10px;

    & > .Rasterizer
    {
        width      : 80%;
        height     : 100%;
        padding    : 10px 0px 10px 10px;
        box-sizing : border-box;

        & > div
        {
            width  : 100%;
            height : 100%;

            & > .LoaderPage
            {
                height          : 100%;
                display         : flex; 
                justify-content : center; 
                align-items     : center;
                background      : #3c3c3c;

                & > .Loader
                {
                    position : relative;

                    & > .LoaderImage
                    {
                        height : 150px;
                        width  : 150px;
                    };
                };
            };
        };
    };
};
