@mixin Size($width : auto, $height : auto)
{
    width  : $width;
    height : $height; 
};
@mixin Size_All($all : auto)
{
    width  : $all;
    height : $all; 
};

@mixin Padding($left : 0px, $top : 0px, $right : 0px, $bottom : 0px, $extends : false)
{
    padding : $top $right $bottom $left;

    @if $extends == false { box-sizing: border-box; }
    @else                 { box-sizing: initial;    }
};
@mixin Padding_Axis($vertical : 0px, $horizontal : 0px, $extends : false)
{
    padding : $vertical $horizontal;

    @if $extends == false { box-sizing: border-box; }
    @else                 { box-sizing: initial;    }
};
@mixin Padding_All($all : 0px, $extends : false)
{
    padding : $all;

    @if $extends == false { box-sizing: border-box; }
    @else                 { box-sizing: initial;    }
};
@mixin Padding_Horizontal($horizontal : 0px, $top : 0px, $bottom : 0px, $extends : false)
{
    padding : $top $horizontal $bottom $horizontal;

    @if $extends == false { box-sizing: border-box; }
    @else                 { box-sizing: initial;    }
};
@mixin Padding_Vertical($vertical : 0px, $left : 0px, $right : 0px, $extends : false)
{
    padding : $vertical $right $vertical $left;

    @if $extends == false { box-sizing: border-box; }
    @else                 { box-sizing: initial;    }
};


@mixin Margin($left : 0px, $top : 0px, $right : 0px, $bottom : 0px)
{
    margin : $top $right $bottom $left;
};
@mixin Margin_Axis($vertical : 0px, $horizontal : 0px)
{
    margin : $vertical $horizontal;
};
@mixin Margin_All($all : 0px)
{
    margin : $all;
};
@mixin Margin_Horizontal($horizontal : 0px, $top : 0px, $bottom : 0px)
{
    margin : $top $horizontal $bottom $horizontal;
};
@mixin Margin_Vertical($vertical : 0px, $left : 0px, $right : 0px)
{
    margin : $vertical $right $vertical $left;
};


@mixin Position($type : relative, $left : auto, $top : auto, $right : auto, $bottom : auto, $zIndex : auto)
{
    position : $type;
    left     : $left;
    top      : $top;
    right    : $right;
    bottom   : $bottom;
    z-index  : $zIndex;
};

@mixin Font($fontSize : 1rem, $fontWeight : 400, $textAlign : left, $color : #000000)
{
    font-size    : $fontSize;
    font-weight  : $fontWeight;
    text-align   : $textAlign;
    color        : $color;
};

@mixin Flex($direction : row, $justifyContent : normal, $alignItems : normal, $gap : 0)
{
    display         : flex;
    flex-direction  : $direction;
    justify-content : $justifyContent;
    align-items     : $alignItems;
    gap             : $gap;
};

@mixin Border($color : #000000, $width : 0px, $style : solid, $radius : 0px)
{
    border        : $color $style $width;
    border-radius : $radius;
    box-sizing    : border-box;
};
@mixin Border_Segment($top : #000000 0px solid, $right : #000000 0px solid, $bottom : #000000 0px solid, $left : #000000 0px solid, $radius : 0px)
{
    border-top    : $top;
    border-right  : $right;
    border-bottom : $bottom;
    border-left   : $left;
    border-radius : $radius;
    box-sizing    : border-box;
};

@mixin Overflow($x : visible, $y : visible)
{
    overflow-x : $x;
    overflow-y : $y;
};
@mixin Overflow_All($all : visible)
{
    overflow : $all;
};

@mixin Scroll_Snap($visible : true, $snapType : none, $snapAlign : none)
{
    @if $visible == false
    {
        -ms-overflow-style : none;
        scrollbar-width    : none;

        &::-webkit-scrollbar { display : none; }
    }

    scroll-snap-type : $snapType;

    & > *
    {
        scroll-snap-align : $snapAlign;
    };
};

@mixin RemoveScrollBar()
{
    &
    {
        -ms-overflow-style : none;  /* IE and Edge */
        scrollbar-width    : none;  /* Firefox */
    };

    &::-webkit-scrollbar { display: none; }
};
