@import "../../../Css/@keyframes.scss";
@import "../../../Css/@mixins.scss";


.Container
{
    @include Position   ();
    @include Size_All   (100%      );
    @include Flex       ($gap : 4px);

    overflow : hidden;

    & > .Rasterizer
    {
        @include Size($width : 80%, $height : 100%);

        border-radius : 10px 0px 0px 10px;
        overflow      : hidden;
    };

    & > .SidePanel
    {
        @include Size ($width : 20%);

        background: var(--dark-grey3);
    };

    & > .KeyboardIcon
    {
        @include Size_All(35px                                                       ); 
        @include Position($type : absolute, $top : 23.5px, $left : 21px, $zIndex : 10);
        
        color  : var(--white);
        cursor : pointer;
    };

    & > .IndicativPanel
    {
        @include Size_All(100%                                                                          );
        @include Font    ($color         : #b8b8b8                                                    );
        @include Flex    ($justifyContent: center   , $alignItems : center                              );
        @include Border  ($color         : #6b6b6b, $width      : 2px   , $radius : 10px              );
        @include Position($type          : absolute , $top        : 0px   , $left   : 0px, $zIndex: 2000);

        background : rgba(0, 0, 0, .4);
        overflow   : hidden;
        cursor     : pointer;

        &.Focused { display : none; };
    };
};
