@import "../../Css/@keyframes.scss";
@import "../../Css/@mixins.scss";


.Container
{
    @include Padding_Axis($horizontal : 70px                );
    @include Flex        ($direction  : column, $gap : 170px);

    & >.Title
    {
        @include Font($fontSize : var(--font-size-800), $fontWeight : 10, $color : var(--light-green), $textAlign : right);
        
        transition : font-size .5s ease-in-out;
    };

    & > .Projects
    {
        @include Size_All(100%                            );
        @include Flex    ($direction : column, $gap : 80px);
    };






    @media screen and (max-width: 1500px)
    {
        & > .Projects { gap : 50px; };
    };
    @media screen and (max-width: 1300px)
    {
        & > .Title > div { font-size : 6rem; };
    };
    @media screen and (max-width: 1200px)
    {
        & > .Title > div { font-size: 5.5rem; };
    };
    @media screen and (max-width: 1000px)
    {
        & > .Title > div { font-size : 5rem; };
        & > .Projects    { gap       : 30px; };
    };
    @media screen and (max-width: 900px)
    {
        & > .Title > div { font-size: 4.5rem; };
    };
    @media screen and (max-width: 850px)
    {
        & > .Title > div { font-size : 4rem; };
    };
    @media screen and (max-width: 650px)
    {
        & > .Title > div { font-size: 3.5rem; };
    };
    @media screen and (max-width: 500px)
    {
        & > .Title > div { font-size: 3rem; };
    };
    @media screen and (max-width: 450px)
    {
        & > .Projects { gap : 60px; };
    };
    @media screen and (max-width: 400px)
    {
        & > .Projects { gap : 90px; };
    };
};


.Thumbnail
{
    @include Position    ();
    @include Size_All    (100%          );
    @include Overflow_All(hidden        );
    @include Border      ($radius : 10px);

    cursor : pointer;

    & > .ThumbnailImage
    {
        @include Size_All(100%);

        & > img
        {
            @include Size_All(100%          );
            @include Border  ($radius : 10px);

            object-fit : cover;
        };
    };

    & > .ResizeBackground
    {
        @include Size_All(100%                                                      );
        @include Flex    ($justifyContent : center  , $alignItems : center          );
        @include Position($type           : absolute, $top        : 0px, $left : 0px);

        background : rgba(97, 155, 138, .7);
        transform  : translateY(-100%);
        transition : transform .5s;

        & > .ResizeIcon
        {
            @include Position();
            @include Size_All(60px);

            color      : white;
            transition : width .5s ease-in-out, height .5s ease-in-out;

            & > svg { animation : Pulse 2s ease-out infinite; };

            & > .ResizeIconText
            {
                @include Position($type    : absolute, $bottom    : 45px  , $left  : 50%         );
                @include Font    ($fontSize: 1rem    , $textAlign : center, $color : var(--white));

                white-space : nowrap;
                transform   : translate(-50%, -50%);
                transition  : left .5S ease-in-out;
            };
        };
    };

    &:hover
    {
        & > .ResizeBackground
        {
            transform  : translateY(0%);
            transition : transform .5s;
        };
    };






    @media screen and (max-width: 1300px)
    {
        & > .ResizeBackground > .ResizeIcon
        {
            width  : 50px;
            height : 50px;

            & > .ResizeIconText
            {
                font-size : .95rem;
            };
        };
    };
    @media screen and (max-width: 1100px)
    {
        cursor : unset;

        & > .ResizeBackground { display : none; }
    };
};
