@keyframes Pulse
{
    0%   { scale : 1.2; }
    50%  { scale : 1;   }
    100% { scale : 1.2; }
};

.Container
{
    $selected-height-animation-time  : .5s;
    $selected-height-animation-delay : .65s;
 
    & >.Title
    {
        display        : flex;
        flex-direction : row-reverse;
        margin-right   : 10%;
        margin-bottom  : 3%;

        & > div
        {
            font-size     : 6.5rem;
            transition    : font-size .5s ease-in-out;
            font-weight   : 10;
            margin-left   : 10%;
            margin-top    : 5%;
            margin-bottom : 3%;
            color         : var(--light-green);
        };
    };

    & > .Projects
    {
        width          : 100%;
        padding        : 0 5%;
        box-sizing     : border-box;
        display        : flex;
        flex-direction : column;
        gap            : 10vh;

        & > .Project
        {
            height     : fit-content;
            transition : height $selected-height-animation-time;

            &.Selected
            {
                height     : 90vh;
                transition : height $selected-height-animation-time $selected-height-animation-delay;
            }
        };
    };

    @media screen and (max-width: 900px)
    {
        & >.Title > div
        {
            font-size: 5.5rem;
        };
    };
    @media screen and (max-width: 850px)
    {
        & >.Title > div
        {
            font-size: 5rem;
        };
    };
    @media screen and (max-width: 650px)
    {
        & >.Title > div
        {
            font-size: 4rem;
        };
    };
    @media screen and (max-width: 500px)
    {
        & >.Title > div
        {
            font-size: 3.5rem;
        };
    };
};


.Thumbnail
{
    position      : relative;
    width         : 100%;
    height        : 100%;
    overflow      : hidden;
    border-radius : 10px;

    & > img
    {
        width         : 100%;
        height        : 100%;
        object-fit    : cover;
        border-radius : 10px;
    };

    & > div
    {
        position        : absolute;
        display         : flex;
        justify-content : center;
        align-items     : center;
        width           : 100%;
        height          : 100%;
        left            : 0;
        top             : -100%;
        transition      : top .5s;
        background      : rgba(254, 127, 45, .7);

        & > .ResizeIcon
        {
            position : relative;
            width    : 60px;
            height   : 60px;
            color    : white;

            & > svg
            {
                animation: Pulse 2s ease-out  infinite;
            };

            & > .ResizeIconText
            {
                position : absolute;
                color    : white;
                bottom   : -30px;
                left     : -55%;
                white-space: nowrap;
            }
        };
    };

    &:hover
    {
        & > div
        {
            top        : 0%;
            transition : top .5s;
        };
    };
};