@import "../../Css/@keyframes.scss";
@import "../../Css/@mixins.scss";


@keyframes Levitate
{
    0%   { transform : translateX(0px);  }
    50%  { transform : translateX(-4px); }
    100% { transform : translateX(0px);  }
};

.Container
{
    & >.Title
    {
        @include Padding_Axis($horizontal : 70px                                                                                   );
        @include Margin      ($bottom     : 70px                                                                                   );
        @include Font        ($fontSize   : var(--font-size-800), $fontWeight : 10, $color : var(--light-green), $textAlign : right);
    };

    & > .Project
    {
        @include Position();
        @include Size    ($width : 100%);

        &.Graph
        {
            @include Size($height : 100vh);

            & > .TitleContainer
            {
                @include Position($type : absolute, $top : 120px, $left : 100px, $zIndex : 1000);

                & > .Title    { @include Font($fontSize : 4.5rem, $fontWeight : 300, $color : var(--white)); };
                & > .Subtitle { @include Font($fontSize : 3rem  , $fontWeight : 300, $color : var(--white)); };
            };

            & > .TextContainer
            {
                @include Flex    ($direction : row-reverse, $gap    : 20px               );
                @include Position($type      : absolute   , $bottom : 80px, $right : 50px);

                & > .Text
                {
                    @include Size($width : 35ch        );
                    @include Font($color : var(--white));
                };
                & > .Separator { color : var(--white); };  
                & > .Button
                {
                    @include Margin_All  (20px                                                        );
                    @include Font        ($fontSize : 1rem        , $color      : var(--white)        );
                    @include Padding_Axis($vertical : 8px         , $horizontal : 10px                );
                    @include Border      ($color    : var(--white), $width      : 1px , $radius : 5px );

                    align-self : end;
                    transform  : translateY(0px);
                    cursor     : pointer;
                    transition : all 1s;

                    &:hover
                    {
                        transform  : translateY(-6px);
                        transition : all 1s;
                    };
                };
            };
        };
        &.Cube
        {
            @include Size($height : 100vh);
            @include Flex($justifyContent : center, $alignItems : center);

            & > .TitleContainer
            {
                @include Position($type : absolute, $top : 120px, $right: 100px, $zIndex : 1000);

                & > .Title    { @include Font($fontSize : 4.5rem, $fontWeight : 300, $color : var(--blue-color)); };
                & > .Subtitle { @include Font($fontSize : 3rem  , $fontWeight : 300, $color : var(--blue-color)); };
            };

            & > .TextContainer
            {
                @include Position($type : absolute, $bottom : 100px, $left : 50px);

                & > .Text { @include Size($width : 45ch); };
            };
        };
        &.Rasterizer
        {
            @include Flex($justifyContent : center);
            @include Size($height         : 150vh );

            & > .TitleContainer
            {
                @include Position($type : absolute, $top : 80px, $left: 100px, $zIndex : 1000);

                & > .Title    { @include Font($fontSize : 4.5rem, $fontWeight : 300, $color : var(--white)); };
                & > .Subtitle { @include Font($fontSize : 3rem  , $fontWeight : 300, $color : var(--white)); };
            };

            & > .TextContainer
            {
                @include Flex    ($direction : row     , $gap : 20px               );
                @include Position($type      : absolute, $left: 50% , $bottom : 0px);
                
                transform: translate(-50%, -50%); 

                & > .Text
                {
                    @include Size($width : 45ch        );
                    @include Font($color : var(--white));
                };
                & > .Separator { color : var(--white); };  
                & > .Button
                {
                    @include Margin_All  (20px                                                       );
                    @include Font        ($fontSize : 1rem        , $color      : var(--white)       );
                    @include Padding_Axis($vertical : 8px         , $horizontal : 10px               );
                    @include Border      ($color    : var(--white), $width      : 1px, $radius : 5px );

                    align-self : end;
                    transform  : translateY(0px);
                    cursor     : pointer;
                    transition : all 1s;

                    &:hover
                    {
                        transform  : translateY(-6px);
                        transition : all 1s;
                    };
                };
            };

            & > .Element
            {
                @include Position($top    : 280px            );
                @include Size    ($height : 58%, $width : 90%);
            };
        };

        &:nth-child(1) { background : linear-gradient(var(--dark-blue-color), var(--blue-color) 70%); };
        &:nth-child(2) { background : #ffffff;                                                      };
        &:nth-child(3) { background : var(--blue-color);                                              };
    };
};
