body
{
    --blue-color      : #233D4D;
    --dark-blue-color : #172933;
    --orange-color    : #FE7F2D;
    --yellow-color    : #FCCA46;
    --light-green     : #A1C181;
    --dark-green      : #619B8A;
    --white           : #ffffff;

    --font-size-900 : 8rem;
    --font-size-800 : 7.5rem;
    --font-size-700 : 5rem;

    /*
        3.5rem
        1.5rem
        1.1rem
        1rem
    */

    margin      : 0;
    padding     : 0;
    font-family : "Poppins", sans-serif;
    width      : 100vw;
    height     : 100vh;
    overflow-x : hidden;
    overflow-y : auto;
};
